@charset "utf-8";

/* 메인배너 */
#mainVisual{height:585px;border-radius:10px;background:#fff}
#mainVisual .pager_dot{display:inline-block;position:absolute;left:60px;bottom:100px;z-index:101;width:auto}
#mainVisual .pager_dot span{width:8px;height:8px;margin:0;border-radius:15px;background-color:#222;transition:all .2s;opacity:.2}
#mainVisual .pager_dot span+span{margin-left:8px}
#mainVisual .pager_dot span.on{width:25px;background-color:var(--primary);opacity:1}
#mainVisual ul .txt{position:absolute;left:60px;top:90px;font-size:56px;line-height:1.2;color:#222;transition:all .25s ease-out;opacity:0;font-family:'LotteMartDreamLight'}
#mainVisual ul .txt span{display:block;padding-bottom:35px;font-size:17px;color:var(--primary);font-family:'LotteMartDreamMedium'}
#mainVisual ul .txt b{font-family:'LotteMartDreamBold'}
#mainVisual ul .txt .s_text{padding-top:45px;font-size:16px;color:rgba(34, 34, 34, 0.6);font-family:'LotteMartDreamMedium'}
#mainVisual ul .bnr01.on .txt{opacity:1;transition:1.5s}
#mainVisual ul .bnr02.on .txt{opacity:1;transition:1.5s}

